<!DOCTYPE html>
<html>
  <title>
    DiplomacyMC
  </title>

  <body>
    <h1>
      <img src="https://media.discordapp.net/attachments/1174721053294080083/1176629823486033960/minecraft_title1.png?ex=656f90ea&is=655d1bea&hm=190e00fdaf55a87f7e689b11b1df7018676f2cce5f2abaca57347e138d301c54&=&width=1025&height=138" width=400px height=50px />
    </h1>
    <p1>
      🌍 Welcome to DiplomacyMC 🌍
      <br>
      <br>
      🚀 IP: play.diplomacyminecraft.com 🚀
      <br>
      <br>
       Join Faction Frontline MC today and become a legend in the ever-expanding world of Minecraft! Your adventure begins now.
    </p1>
    <br>
<br>
    <p2>
      <p1>🏰 Forge Your Destiny:</p1> Build, conquer, and rule! Unleash your creativity as you construct majestic fortresses and dominate the landscape. Form alliances with fellow players to strengthen your forces and withstand the challenges that lie ahead.
    </p2>
    <br>
    <br>
    <p2>
      <p1>⚔️ Epic PvP Battles:</p1> Prepare for heart-pounding battles in our custom-designed PvP arenas. Test your skills against formidable opponents and prove your supremacy on the battlefield. Glory and valuable rewards await the mightiest warriors!
    </p2>
    <br>
    <br>
    <p2>
      <p1>💎 Economy and Trading:</p1> Dive into a player-driven economy where you can amass wealth through strategic trading and resource management. Establish your empire by trading rare items and building an economic powerhouse.
    </p2>
    <br>
    <br>
    <p2>
      <p1>🌐 Global Community:</p1> Connect with players from around the globe! Our server provides a safe and friendly environment for players of all ages. Forge new friendships, share your achievements, and participate in exciting events.
    </p2>
    <br>
    <p1>
      <br>
      <br>
      🚀 IP: play.diplomacyminecraft.com 🚀
    </p1>
    <br>
    <br>
    <br>
    <br>
    <a href="https://discord.gg/UD5uEtsQsx">
      <button type="ea">
        <img src="https://download.logo.wine/logo/Discord_(software)/Discord_(software)-Logo.wine.png" alt="buttonpng" width=75px height=50px border-radius=10px />
      </button>
    </a>
    <a href="https://www.youtube.com/@DiplomacyMinecraft">
      <button type="ea">
        <img src="https://upload.wikimedia.org/wikipedia/commons/e/ef/Youtube_logo.png?20220706172052" width=75px height=50px border-radius=10px overflow=hidden />
      </button>
    </a>
    <style>
      button {
        border: none;
        cursor: pointer;
        appearance: none;
        background-color: inherit;
        transition: transform .7s ease-in-out;
        margin-right: 5px;
        border-radius: 10px;
        width: 75px;
        height: 50px;


      }

      button:hover {
        transform: rotate(360deg);
      }


      body {
        background-image: url("https://cdn.mos.cms.futurecdn.net/wpGxdxMvYHy7FZQqoKzB5j.jpg");
        text-align: center;
        backdrop-filter: blur(7px);
      }

      .overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        backdrop-filter: blur(2px);
        z-index: 5999;
      }


      h2 {
        font-family
        font-size: 15px;
        font-weight: 600;
        color: black;
        background-clip: text;
        -webkit-background-clip: text;
      }

      p1 {
        font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 15px;
        font-weight: 600;
        color: black;
        background-clip: text;
        -webkit-background-clip: text;
        backdrop-filter: url(commonfilters.svg#filter);
        backdrop-filter: blur(10px)
      }


      p2 {
        font-size: 15px;
        font-weight: 400;
        color: black;
        background-clip: text;
        -webkit-background-clip: text;
      }

    </style>
    <br>
      <br>
  <footer>
        &copy; 2023 DiplomacyMC. All rights reserved.
    </footer>

  </body>
  <script>
   function handleButtonClick(buttonType) {
        if (buttonType === 'discord') {
          window.location.href = "https://discord.gg/UD5uEtsQsx";
        } else if (buttonType === 'youtube') {
          window.location.href = "https://www.youtube.com/@DiplomacyMinecraft";
        }
      }
      
      function displayWelcomeMessage() {
        alert("Welcome to DiplomacyMC");
      }
      
       document.getElementById('discordButton').addEventListener('click', function() {
        handleButtonClick('discord');
      });

      document.getElementById('youtubeButton').addEventListener('click', function() {
        handleButtonClick('youtube');
      });

  
  </script>

</html>
# Auto detect text files and perform LF normalization
* text=auto
